.sl-markdown-content :is(iframe):not(:where(.not-content *)) {
	display: block;
	max-width: 100%;
	height: 1400px !important;
}

/* Dark mode colors. */
:root[data-theme='dark'] {
	--sl-color-accent-low: #0e2c00;
	--sl-color-accent: #367d00;
	--sl-color-accent-high: #3be433;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eceef2;
	--sl-color-gray-2: #c0c2c7;
	--sl-color-gray-3: #888b96;
	--sl-color-gray-4: #545861;
	--sl-color-gray-5: #353841;
	--sl-color-gray-6: #24272f;
	--sl-color-black: #17181c;
    --sl-color-bg-nav: #17181c;
}

/* mobile menu icon bg color */
starlight-menu-button button {
    background-color: #c0c2c7;
}

/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #c2e2b6;
	--sl-color-accent: #377f00;
	--sl-color-accent-high: #173d00;
	--sl-color-white: #17181c;
	--sl-color-gray-1: #24272f;
	--sl-color-gray-2: #353841;
	--sl-color-gray-3: #545861;
	--sl-color-gray-4: #888b96;
	--sl-color-gray-5: #c0c2c7;
	--sl-color-gray-6: #eceef2;
	--sl-color-gray-7: #f5f6f8;
	--sl-color-black: #ffffff;
}


.sl-flex.astro-kmkmnagf {
    justify-content: center;
}

.sl-flex.astro-kmkmnagf site-search button {
    max-width: 750px;
}