---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import '../styles/global.css';
import '../styles/forms.css';
import { LinkCard, CardGrid } from '@astrojs/starlight/components';
---

<StarlightPage frontmatter={{ title: '1st AC Camera Prep Checklist', description: 'A beginning-to-end checklist for a 1st AC\'s camera prep', template: 'splash'}}>
    <p>A beginning-to-end checklist for a 1st AC's camera prep</p>
    <CardGrid>
        <LinkCard title="2nd AC Camera Prep Checklist" description="Are you a 2nd AC looking for your prep checklist? Click here." href="/2nd-camera-prep-checklist/" target="_blank"/>
    </CardGrid>
    <hr/>
    <form autocomplete="on" style="display: block;">
        <input id="not-floor" type="text"> What is not on the floor?</input>
        <hr/>
        <hr/>
        <input id="be-there" type="text"> When will it be there?</input>
        <hr/>
        <p style="font-weight: 900;">*Build bottom up/front to back</p>
        <input id="head" type="checkbox"> Head</input>
        <hr/>
        <input id="camera-power-plates" type="checkbox"> Camera Power Plates</input>
    </form>
</StarlightPage>