---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import '../styles/global.css';
import '../styles/forms.css';
import { LinkCard, CardGrid } from '@astrojs/starlight/components';
---

<StarlightPage frontmatter={{ title: '1st AC Camera Prep Checklist', description: 'A beginning-to-end checklist for a 1st AC\'s camera prep', template: 'splash'}}>
    
    <CardGrid>
        <h1>1st AC Camera Prep Checklist</h1>
        <LinkCard title="2nd AC Camera Prep Checklist" description="Are you a 2nd AC looking for your prep checklist? Click here." href="/2nd-camera-prep-checklist/" target="_blank"/>
    </CardGrid>
    <hr style="max-width: 100%; border-top-width: 3px !important;"/>
    <p style="font-weight: 900;">*Build bottom up/front to back --- *Not all gear will be applicable to each project</p>
    <form autocomplete="on" class="prep-form">
        <div class="prep-form-column">
            <div class="prep-form-section">
                <h4>1. Begin Prep</h4>
                <hr style="margin-top: 12px; margin-bottom: 12px;"/>
                <p>What is not on the floor?</p>
                <textarea id="not-on-floor"></textarea>
                <hr style="margin-top: 12px; margin-bottom: 12px;"/>
                <p>When will it be there?</p>
                <textarea id="when-be-there"></textarea>
                <hr style="margin-top: 12px; margin-bottom: 12px;"/>
                <input id="tripod-head" type="checkbox"> Tripod Head / Camera Mount</input>
                <hr/>
                <input id="camera-power-plates" type="checkbox"> Camera Power Plates</input>
                <hr class="hr-group"/>
                <input id="camera-power-plates-cables" class="cables" type="checkbox"> Cables</input>
                <hr/>
                <input id="onboard-monitor" type="checkbox"> Onboard Monitor</input>
                <hr class="hr-group"/>
                <input id="onboard-monitor-cables" class="cables" type="checkbox"> Cables</input>
                <hr/>
                <input id="wireless-video" type="checkbox"> Wireless Video</input>
                <hr class="hr-group"/>
                <input id="wireless-video-cables" class="cables" type="checkbox"> Cables</input>
                <hr/>
                <input id="mdr" type="checkbox"> MDR</input>
                <hr class="hr-group"/>
                <input id="mdr-cables" class="cables" type="checkbox"> Cables</input>
                <hr/>
                <input id="rangefinder" type="checkbox"> Rangefinder</input>
                <hr class="hr-group"/>
                <input id="rangefinder-cables" class="cables" type="checkbox"> Cables</input>
                <hr/>
                <input id="lens-light" type="checkbox"> Lens Light</input>
                <hr class="hr-group"/>
                <input id="lens-light-cables" class="cables" type="checkbox"> Cables</input>
                <hr/>
                <input id="mount-prime" type="checkbox"> Mount Lens</input>
                <hr/>
                <input id="mattebox" type="checkbox"> Mattebox</input>
                <hr/>
                <input id="fiz-motors" type="checkbox"> FIZ Motors / Manual FF</input>
                <hr class="hr-group"/>
                <input id="fiz-motors-cables" class="cables" type="checkbox"> Cables</input>
                <hr/>
                <input id="handheld" type="checkbox"> Handheld Setup</input>
            </div>
        </div>
        <div class="prep-form-column">
            <div class="prep-form-section">
                <h4>2. Camera Settings</h4>
                <hr style="margin-top: 12px; margin-bottom: 12px;"/>
                <input id="primary-settings" type="checkbox"> Primary Settings</input>
                <hr class="hr-group"/>
                <input id="settings-letter" class="cables" type="checkbox"> Camera Letter</input>
                <hr class="hr-group"/>
                <input id="settings-codec" class="cables" type="checkbox"> Codec</input>
                <hr class="hr-group"/>
                <input id="settings-fps" class="cables" type="checkbox"> Project FPS</input>
                <hr class="hr-group"/>
                <input id="settings-resolution" class="cables" type="checkbox"> Resolution</input>
                <hr class="hr-group"/>
                <input id="settings-color-space" class="cables" type="checkbox"> Color Space</input>
                <hr/>
                <input id="monitor-outputs" type="checkbox"> Monitor Outputs</input>
                <hr class="hr-group"/>
                <input id="monitor-output-settings" class="cables" type="checkbox"> Framelines, Colors, Display Info</input>
                <hr/>
                <input id="head" type="checkbox"> Head</input>
            </div>
            <div class="prep-form-section">
                <h4>3. Lenses</h4>
                <hr style="margin-top: 12px; margin-bottom: 12px;"/>
                <input id="primary-settings" type="checkbox"> Primary Settings</input>
                <hr class="hr-group"/>
                <input id="settings-letter" class="cables" type="checkbox"> Camera Letter</input>
                <hr class="hr-group"/>
                <input id="settings-codec" class="cables" type="checkbox"> Codec</input>
                <hr class="hr-group"/>
                <input id="settings-fps" class="cables" type="checkbox"> Project FPS</input>
                <hr class="hr-group"/>
                <input id="settings-resolution" class="cables" type="checkbox"> Resolution</input>
                <hr class="hr-group"/>
                <input id="settings-color-space" class="cables" type="checkbox"> Color Space</input>
                <hr/>
                <input id="monitor-outputs" type="checkbox"> Monitor Outputs</input>
                <hr class="hr-group"/>
                <input id="monitor-output-settings" class="cables" type="checkbox"> Framelines, Colors, Display Info</input>
                <hr/>
                <input id="head" type="checkbox"> Head</input>
            </div>
        </div>
    </form>
</StarlightPage>